# Sumário

<ul>
    <li>0.0. Imports</li> 
    <ul>
        <li>0.1. Funções Auxiiares</li>
        <li>0.2. Carregando Dados</li>
    </ul>
    <li>1.0. Descrição dos Dados</li> 
    <ul>
        <li>1.1. Dimensão dos Dados</li>
        <li>1.2. Tipo dos Dados</li>
        <li>1.3. Verificar NA</li> 
        <li>1.4. Mudar o Tipo da Variável</li>
        <li>1.5. Estatística Descritiva</li>
        <ul>
            <li>1.5.1. Atributos Numéricos</li>
        </ul>
    </ul>
</ul>

# 0.0. Imports

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns

from IPython.core.display import HTML

## 0.1. Funções Auxiliares

In [54]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container {width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr',False )
    
    sns.set()

In [55]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2. Carregando Dados

In [6]:
df_kc_house = pd.read_csv('data/kc_house_data.csv')

# 1.0. Descrição dos Dados

In [23]:
df1 = df_kc_house.copy()

## 1.1. Dimensão dos Dados

In [25]:
print('Número de Linhas: {}'.format(df1.shape[0]))
print('Número de Colunas: {}'.format(df1.shape[1]))

Número de Linhas: 21613
Número de Colunas: 21

## 1.2. Tipo dos Dados

In [31]:
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1.3. Verificar NA

In [30]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.4. Mudar o Tipo da Variável

In [28]:
df1['date'] = pd.to_datetime( df1['date'] )

## 1.5. Estatística Descritiva

In [60]:
num_atributos = df1.select_dtypes( include=['int64', 'float64'] )

### 1.5.1. Atributos Numéricos

In [45]:
# Tendencia Centra - mean, median
ct1 = pd.DataFrame( num_atributos.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_atributos.apply( np.median ) ).T

# Dispersão - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame( num_atributos.apply( np.std ) ).T
d2 = pd.DataFrame( num_atributos.apply( min ) ).T
d3 = pd.DataFrame( num_atributos.apply( max ) ).T
d4 = pd.DataFrame( num_atributos.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_atributos.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_atributos.apply( lambda x: x.kurtosis() ) ).T

m = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']

In [46]:
m

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,id,1.000102e+06,9.900000e+09,9.899000e+09,4.580302e+09,3.904930e+09,2.876499e+09,0.243329,-1.260542
1,price,7.500000e+04,7.700000e+06,7.625000e+06,5.400881e+05,4.500000e+05,3.671187e+05,4.024069,34.585540
2,bedrooms,0.000000e+00,3.300000e+01,3.300000e+01,3.370842e+00,3.000000e+00,9.300403e-01,1.974300,49.063653
3,bathrooms,0.000000e+00,8.000000e+00,8.000000e+00,2.114757e+00,2.250000e+00,7.701453e-01,0.511108,1.279902
4,sqft_living,2.900000e+02,1.354000e+04,1.325000e+04,2.079900e+03,1.910000e+03,9.184196e+02,1.471555,5.243093
5,sqft_lot,5.200000e+02,1.651359e+06,1.650839e+06,1.510697e+04,7.618000e+03,4.141955e+04,13.060019,285.077820
6,floors,1.000000e+00,3.500000e+00,2.500000e+00,1.494309e+00,1.500000e+00,5.399764e-01,0.616177,-0.484723
7,waterfront,0.000000e+00,1.000000e+00,1.000000e+00,7.541757e-03,0.000000e+00,8.651520e-02,11.385108,127.632494
8,view,0.000000e+00,4.000000e+00,4.000000e+00,2.343034e-01,0.000000e+00,7.662998e-01,3.395750,10.893022
9,condition,1.000000e+00,5.000000e+00,4.000000e+00,3.409430e+00,3.000000e+00,6.507280e-01,1.032805,0.525764
10,grade,1.000000e+00,1.300000e+01,1.200000e+01,7.656873e+00,7.000000e+00,1.175432e+00,0.771103,1.190932
11,sqft_above,2.900000e+02,9.410000e+03,9.120000e+03,1.788391e+03,1.560000e+03,8.280718e+02,1.446664,3.402304
12,sqft_basement,0.000000e+00,4.820000e+03,4.820000e+03,2.915090e+02,0.000000e+00,4.425648e+02,1.577965,2.715574
13,yr_built,1.900000e+03,2.015000e+03,1.150000e+02,1.971005e+03,1.975000e+03,2.937273e+01,-0.469805,-0.657408
14,yr_renovated,0.000000e+00,2.015000e+03,2.015000e+03,8.440226e+01,0.000000e+00,4.016699e+02,4.549493,18.701152
15,zipcode,9.800100e+04,9.819900e+04,1.980000e+02,9.807794e+04,9.806500e+04,5.350379e+01,0.405661,-0.853479
16,lat,4.715590e+01,4.777760e+01,6.217000e-01,4.756005e+01,4.757180e+01,1.385605e-01,-0.485270,-0.676313
17,long,-1.225190e+02,-1.213150e+02,1.204000e+00,-1.222139e+02,-1.222300e+02,1.408251e-01,0.885053,1.049501
18,sqft_living15,3.990000e+02,6.210000e+03,5.811000e+03,1.986552e+03,1.840000e+03,6.853754e+02,1.108181,1.597096
19,sqft_lot15,6.510000e+02,8.712000e+05,8.705490e+05,1.276846e+04,7.620000e+03,2.730355e+04,9.506743,150.763110